.Login-Page {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary-blue);
  color: var(--text-white);
}

.Login-Main {
  height: calc(100vh - 4rem);
}
.h3-header {
  margin: 0;
}
.h3-get-started {
  margin: 0;
}

.Login-h1 {
  margin: 0;
  font-size: 2rem;
}
